<div class="flex">
  <div class="contact-form ">
    <h2>GET IN TOUCH</h2>
    <form>
      <div class="form-row">
        <input type="text" placeholder="First Name" required>
        <input type="text" placeholder="Last Name" required>
      </div>
      <div class="form-row">
        <input type="email" placeholder="Email Address" required>
        <input type="text" placeholder="Website Name">
      </div>
      <textarea placeholder="Write your message" required></textarea>
      <button type="submit">Send Message</button>
    </form>
  </div>
<div>
  <img src="https://cdn.pixabay.com/photo/2024/02/06/09/36/laptop-8556518_1280.png" alt="contact" 
  width="450px" style="margin-top: 50px;">
</div>
</div>